$font-stack:'Lato', sans-serif; 
$primary-color: rgb(233, 250, 251);
$primary-bg-color: rgb(255, 255, 255); 
$button-color: rgb(73, 106, 226);
$shadow-color: rgb(51, 51, 51);
$alpha: .7;
$btn-bg: rgb(73, 106, 226);
$bg-shade: rgba(20, 20, 20, $alpha);

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $primary-bg-color;
  font-family: $font-stack;  
}

main {
  flex: 1 0 auto;
}

footer {
  // clear: both;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.login-form {
  width: 600px;
}

.main-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: 0.3s;
}

.doc-box { 
  background: url("../assets/images/blu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.get-started-btn {
  background-color: $button-color;
}

.profile-form {
  padding: 20px;
  box-shadow: 3px 3px 5px $shadow-color;
  margin: 5% 10%;
}

.landing-page {
  background:
    -webkit-linear-gradient($bg-shade, $bg-shade),
     url("../assets/images/banner.png");
  background:
    -moz-linear-gradient($bg-shade, $bg-shade),
     url("../assets/images/banner.png");
  background:
    -o-linear-gradient($bg-shade, $bg-shade),
     url("../assets/images/banner.png");
  background:
    linear-gradient($bg-shade, $bg-shade),
     url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner {
  margin: 0;
  margin-top: -25px;
}
