**/*{.,-}min.js
webpack.config.js
karma.conf.js
docs/
db/
client/test
client/api_docs
client/build
client/javascripts
client/style
client/stylesheets
node_modules/
coverage/
server/test
TestSetup.js
testSetup.js
server/test
nightwatch.conf.js
screenshots/
reports/
