// Materialize
script(type='text/javascript', src='')

// React
script(type='text/javascript', src='')

// Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')

// Application Controllers
script(type='text/javascript', src='')