// Materialize
script(src='')

// React
script(src='')

// Application Services
script(src='')
script(src='')
script(src='')

// Application Controllers
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')

// Custom Scripts
script(src='../../../public/build/Bundle.js')