head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title Doqman Document Management System
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="doqman, document management system")
  meta(name="description", content="A document management system platform")

  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")

  // Google Font Import
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400')

  // Materialize CSS and Font Awesome
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  // Custom Styling
  link(rel='stylesheet', href='build/Index.css')  

  // if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
